:root {
    --white: #fff;
    --black: #000;
    --secondaryTextColor: #C8C8C8;
    --primaryColor: #040D1F;
    --orangeColor: #F18128;
    --com: 'Comfortaa';
    --rob: 'Roboto';
    --mon: 'Montserrat';
}